@media (max-width: 1024px) {
  /* html {
    font-size: 56.25%;
  } */
}

@media (max-width: 920px) {
  /*** Mobile Menu ***/
  .hero {
    max-width: 100vw;
  }

  .logo {
    z-index: 999;
  }

  .logo--light {
    display: none;
  }

  .logo--dark {
    display: block;
  }

  .nav-open .logo--light {
    display: block;
  }

  .nav-open .logo--dark {
    display: none;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232340;
    font-size: 3.2rem;
    z-index: 99;
  }

  .nav-open .main-nav {
    display: block;
  }

  .toggle-icon[name="menu-outline"] {
    display: block;
    color: #232340;
  }

  .toggle-icon[name="close-outline"] {
    display: none;
    color: #232340;
  }

  .nav-open .toggle-icon[name="menu-outline"] {
    display: none;
  }

  .nav-open .toggle-icon[name="close-outline"] {
    display: block;
    color: #fff;
  }

  .main-nav__list {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .main-nav__link:link,
  .main-nav__link:visited {
    color: #595976;
  }

  .main-nav__link:hover,
  .main-nav__link:active {
    color: #fff;
  }

  .main-nav__link--active:link,
  .main-nav__link--active:visited {
    color: #fff;
  }

  .cta {
    display: none;
  }

  .toggle-btn {
    display: block;
    z-index: 999;
  }

  /* SECTION HERO */
  .heading-primary {
    font-size: 6.4rem;
  }

  .desc {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }

  /* SECTION WHO */
  .section-who__tertiary {
    font-size: 4.8rem;
  }

  .heading-secondary {
    font-size: 1.6rem;
  }

  .btn-move {
    width: 4.8rem;
    height: 4.8rem;
  }

  .arrow {
    height: 2.4rem;
    width: 2.4rem;
  }

  .timeline__btn {
    font-size: 1.2rem;
  }

  .counter {
    font-size: 1.8rem;
  }

  .counter span {
    font-size: 14rem;
  }
}

@media (max-width: 600px) {
  /* HERO SECTION */
  .hero {
    flex-direction: column;
  }

  .top-left {
    gap: 3rem;
  }

  .bottom-right {
    height: 30rem;
    max-width: 75%;
    transform: translateY(-3rem);
    align-self: flex-end;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .desc {
    font-size: 1.6rem;
  }

  .btn {
    padding: 1.5rem 3rem;
  }

  /* SECTION WHO */
  .container-who {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .icon {
    display: none;
  }

  .section-who__tertiary {
    max-width: 19ch;
    font-size: 4rem;
    grid-row: 2;
    grid-column: span 2;
  }

  .arrows {
    grid-row: 3;
    justify-self: start;
  }

  .timeline {
    display: none;
  }

  .section-who__img {
    grid-row: 4;
    grid-column: span 2;
    justify-self: center;
  }

  .vertical-line {
    display: none;
  }

  .card {
    grid-row: 6;
    grid-column: 1 / -1;
    gap: 3rem;
  }

  .heading-4 {
    font-size: 2.4rem;
    max-width: 30ch;
  }

  .card .desc {
    max-width: 47ch;
  }

  .counter {
    grid-row: 7;
    grid-column: 1 / -1;
  }
}
