*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans";
}

body {
  overflow: hidden;
}

/*** HEADER ***/

.hero-wrapper {
  padding: 2.4rem clamp(1rem, 4vw, 4.8rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 140rem;
  margin: 0 auto;
}

.logo {
  width: 16rem;
  height: 4rem;
}

.logo--light {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: #8b8b8b;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #5468e7;
}

.main-nav__link--active:link,
.main-nav__link--active:visited {
  color: #5468e7;
}

.cta {
  background-color: #232340;
  padding: 1.6rem 3.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  border: none;
  background: none;
}

.toggle-icon {
  width: 6.4rem;
  height: 6.4rem;
  color: #fff;
  cursor: pointer;
}

/**** HERO ****/
.hero {
  display: flex;
}

/* Top-Left */

.top-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heading-primary {
  font-size: 6.4rem;
  font-weight: 700;
  color: #232340;
  width: 9ch;
  line-height: 1;
}

.desc {
  font-size: 1.8rem;
  color: #606060;
  max-width: 40ch;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #5468e7;
  padding: 2rem 4rem;
  text-decoration: none;
  align-self: flex-start;
  border-radius: 8px;
  cursor: pointer;
}

/* Bottom-Right */

.bottom-right {
  position: relative;
  width: 100%;
}

.hero__img {
  height: 100%;
  width: 100%;
}

.line-img {
  position: absolute;
  top: 0;
  left: 25%;
  /* transform: translateX(-50%); */
  height: 50rem;
  z-index: -1;
}
