*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans";
}

/*** HEADER ***/

.hero {
  padding: 4.8rem clamp(1rem, 4vw, 4.8rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 140rem;
  margin: 0 auto;
}

.logo {
  width: 16rem;
  height: 4rem;
}

.logo--light {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: #8b8b8b;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #5468e7;
}

.main-nav__link--active:link,
.main-nav__link--active:visited {
  color: #5468e7;
}

.cta {
  background-color: #232340;
  padding: 1.6rem 3.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  border: none;
  background: none;
}

.toggle-icon {
  width: 6.4rem;
  height: 6.4rem;
  color: #fff;
  cursor: pointer;
}
