*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans";
}

body {
  position: relative;
}

/*** HEADER ***/

.hero-wrapper {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 140rem;
  margin: 0 auto;
}

.logo {
  width: 16rem;
  height: 4rem;
}

.logo--light {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: #8b8b8b;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #5468e7;
}

.main-nav__link--active:link,
.main-nav__link--active:visited {
  color: #5468e7;
}

.cta {
  background-color: #232340;
  padding: 1.6rem 3.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  border: none;
  background: none;
}

.toggle-icon {
  width: 6.4rem;
  height: 6.4rem;
  color: #fff;
  cursor: pointer;
}

/**** HERO ****/
.hero {
  display: flex;
  margin-top: 4rem;
}

/* Top-Left */

.top-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heading-primary {
  font-size: 8.4rem;
  font-weight: 700;
  color: #232340;
  width: 9ch;
  line-height: 1;
}

.desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #606060;
  max-width: 40ch;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #5468e7;
  padding: 2rem 4rem;
  text-decoration: none;
  align-self: flex-start;
  border-radius: 8px;
  cursor: pointer;
}

/* Bottom-Right */

.bottom-right {
  position: relative;
  width: 100%;
}

.hero__img {
  height: 100%;
  width: 100%;
}

/*** WHO WE ARE ***/
.section-who {
  background-color: #232340;
}

.container-who {
  display: grid;
  grid-template-columns: 20% repeat(2, auto);
  grid-template-rows: minmax(min-content, max-content);
  color: #fff;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.section-who__tertiary {
  font-size: 6.4rem;
  max-width: 20ch;
  line-height: 1;
  grid-column: 2;
  grid-row: 2;
}

.arrows {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
}

.btn-move {
  border: none;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  cursor: pointer;
  background: none;
}

.btn-move:hover,
.btn-move--primary {
  background-color: #5468e7;
}

.arrow {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}

/* TIMELINE */
.timeline {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
  align-items: flex-start;
}

.timeline__btn {
  border: none;
  background: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #8b8b8b;
  cursor: pointer;
}

.section-who__img {
  grid-row: 3;
  grid-column: span 2;
  max-height: 45rem;
  max-width: 100%;
}

.vertical-line {
  width: 0.2rem;
  height: 5rem;
  background-color: #f1b2cc;
  grid-row: 4;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row: 4;
  grid-column: 2;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 4;
  font-size: 2.4rem;
  font-weight: 700;
}

.counter span {
  font-size: 20rem;
  font-weight: 600;
  line-height: 1;
}

/* SECTION WHAT WE DO */
.section-what {
  background: linear-gradient(to left, #fff, #ede5f0);
}

.what-grid {
  display: grid;
  grid-template-columns: 20% repeat(2, auto);
  grid-template-rows: minmax(min-content, max-content);
  /* color: #fff; */
}

/**** SECTION FEATURES ****/
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  margin-top: 8.4rem;
  border-radius: 32px;
  background-color: #fff;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
  flex: 1;
  color: #5468e7;
}

.feature--highlighted {
  background-color: #5468e7;
  color: #fff;
  height: 120%;
  border-radius: 32px;
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.icon-bg--skyblue {
  background-color: #d1ecfd;
}
.icon-bg--purple {
  background-color: #908cff;
}
.icon-bg--orange {
  background-color: #ffc0a5;
}
.icon-bg--pink {
  background-color: #ffadd0;
}

.feature__icon {
  width: 6.4rem;
  height: 6.4rem;
}

.feature__text {
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit;
}

/*** ACHIEVEMENT ***/
.section-achievment {
  background: linear-gradient(to left, #fff, #ede5f0);
}

.container-achievment {
  display: flex;
  align-items: center;
}

.img-bg {
  max-width: 45rem;
}

.img-bg .img {
  max-width: 75%;
}

.achievement {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 7.5rem;
}

.achievement .heading-secondary {
}

.achievement .section-who__tertiary {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 4rem;
}

.achievement .counter {
  grid-column: 1 / -1;
  margin-top: 8rem;
  align-items: flex-start;
}

.achievement .counter span {
  color: #5468e7;
}
